@import "tailwindcss";

@keyframes top-loading-bar {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  70% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}

.loading-bar {
  background-color: #3b82f6;
  transform-origin: left;
  width: 100%;
  animation: top-loading-bar 1.4s ease-in-out infinite;
}
